
<ion-header-bar class="bar-stable bar-header bar-balanced">
  <h1 class="title">Happy Meter</h1>
</ion-header-bar>
<ion-header-bar class="bar-stable bar-subheader">
  <div class="button-bar">
    <a class="button" ui-sref="home.email">email</a>
    <a class="button" ui-sref="home.verify">verify</a>
    <a class="button" ui-sref="home.opinion">opinion</a>
  </div>
</ion-header-bar><ion-pane>

<ion-content class="main-content">
  <div ui-view></div>
</ion-content>


<!-- <ion-footer-bar> -->
<div class="tabs tabs-balanced">
  <a class="tab-item active-tab">
    verify
  </a>
  <a class="tab-item">
    your opinion
  </a>
  <a class="tab-item">
    co-workers
  </a>
</div>
<!-- tabs -->
<!-- </ion-footer-bar> -->

