<ion-pane>
  <ion-header-bar>
    <div class="bar bar-header bar-balanced">
      <h1 class="title">Header</h1>
    </div>
    <!-- <div class="bar bar-subheader bar-balanced">
      <a ui-sref="home.email">email</a>
      <a ui-sref="home.verify">verify</a>
      <a ui-sref="home.opinion">opinion</a>
      <h2 class="title">Sub Header</h2>
    </div>
 -->
  </ion-header-bar>


  <ion-content class="main-content">
    <div ui-view></div>
  </ion-content>


  <!-- <ion-footer-bar> -->
    <div class="tabs tabs-balanced">
      <a class="tab-item active-tab">
        verify
      </a>
      <a class="tab-item">
        your opinion
      </a>
      <a class="tab-item">
        co-workers
      </a>
    </div>
    <!-- tabs -->
    <!-- Verify your work email, give us your opinion, See what your co-workers said -->
  <!-- </ion-footer-bar> -->
</ion-pane>
