
<ion-header-bar class="bar-header bar-balanced">
  <h1 class="title">Happy Meter</h1>
</ion-header-bar>


<ion-header-bar class="bar-stable bar-subheader" ng-hide="verified">
  <div class="button-bar">
    <a class="button {{ email }}" ui-sref="home.email">email</a>
    <!-- Can only get to home.verify by inputting your email -->
    <!-- <a class="button {{ verify }}" ui-sref="home.verify">verify</a> -->
    <a class="button {{ verify }}">verify</a>

    <!-- Can only get to home.opinion by using verified email -->
    <!-- <a class="button" ui-sref="home.opinion">opinions</a> -->
    <a class="button">opinions</a>
  </div>
</ion-header-bar>

<ion-pane>

  
      <ion-nav-view animation="slide-left-right"> </ion-nav-view>

</ion-pane>
