<h2>Your opinion matters!</h2>
<p>Touch and hold on the graphic below to submit your opinion</p>

<happy-graph selected-point="clickData" submitted="clickSubmitted"></happy-graph>
<!-- <svg class="opinion-graph" ng-click="clickGraph($event)">
  <circle style="fill:black" r={{r}} cx={{cx}} cy={{cy}} ng-show="showCircle">
</svg> 
 -->

<span class="x-y-coordinates">x: How successful you will be at this company</span><br>
<span class="x-y-coordinates">y: How successful the company will be</span>
<button class="button button-dark button-block x-y-coordinates" ng-click="submit()" ng-show="clickData">Submit your answer, See what others said</button>
