<ion-content class="main-content has-header has-footer">
  <h2>Check your email!</h2>
  <p> An email has been sent to the email address you indicated<p>
    <p><b> Please click on the "Verify" link in the email </b></p>
  </p>

  <button class="button button-balanced button-block" ng-click="checkVerification()">{{ verStatus }}</button>
  <div ng-show="error" class="error">
    We're sorry, your email has not been verified yet.
  </div>


  <button class="button button-dark button-block" ng-click="resendVerification()">{{ resentStatus }}</button>

</ion-content>

<ion-footer-bar class="bar bar-footer bar-balanced">
</ion-footer-bar>
