<div class="modal">
  <ion-header-bar class="bar-stable bar-header bar-balanced">
    <h1 class="title">Happy Meter</h1>
    <button class="button button-clear icon ion-close-circled" ng-click="closeModal()"></button>
  </ion-header-bar>
  <ion-header-bar class="bar-subheader bar-stable">
    <h1 class="title">Invite your coworkers!</h1>
  </ion-header-bar>
  <ion-content class="main-content has-header has-footer">
  
  <form name="email_form" novalidate ng-submit="sendInvites()">
    <div ng-repeat="coworker in coworkersToInvite track by $index">
      <div class="row item modal">
        <input type="email" name="email" class="col col-90" ng-model="coworkersToInvite[$index].email" placeholder="coworker@{{ domain || 'example.com' }}">
        <i class="icon ion-ios7-plus-outline col col-10" ng-hide="coworkersToInvite[$index + 1]" ng-click="addEmail()"></i>
        <i class="icon ion-ios7-minus-outline col col-10" ng-show="coworkersToInvite[$index + 1]" ng-click="subtractEmail($index)"></i>
      </div>
      <br>
    </div>
    <button class="button button-balanced button-block light-primary" ng-disabled="email_form.$invalid">Send!</button>
  </form>

  </ion-content>
  <ion-footer-bar class="bar bar-footer footer-color" ng-click="closeModal()">
    <h2 class="title footer-color">Close</h2>
  </ion-footer-bar>
</div>
