<!-- Jumbotron -->
<div class="jumbotron">
<!-- <link href="style.css" rel="stylesheet"></link> -->
    <h1>Verify your email!</h1>
    <p class="lead">Welcome to Happy Meter, the best way to understand the sentiments of you and your coworkers in real time!</p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="col-lg-4">
      <h2>Verify with Happy Meter</h2>
      <p>Once you verify your work email, you will be directed to the final page. You will be prompted to submit how you feel about the company you work for as well as your place within said company. Selecting a point toward the top of the graph indicates that you feel you will be successful at your company. Selecting a point to the right of the graph indicates that you feel your company will be successful. Upon submission, if enough of your coworkers also participate, you will be presented with a graphical representation of the individual sentiments of your coworkers along the same dimensions.</p>
      <p><a class="btn btn-default" href="{{ path }}{{ code }}" role="button">Confirm Email &raquo;</a></p>
    </div>
</div>

<!-- Site footer -->
<div class="footer">
    <p>&copy; Happy Meter 2014</p>
</div>