
<!-- Jumbotron -->
<div class="jumbotron">
    <h1>Verify your email!</h1>
    <p class="lead">Hey guys, this email is being sent from the server. I am not going to spam you while I am testing, but I thought you might want to see what the emails look like.  Basically, you can make any Bootstrap responsive page and send it as an email. We're using a gmail account, but this will work with any SMTP service like SendGrid, etc.</p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="col-lg-4">
      <h2>Verify with Happy Meter</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="{{ data.path }}{{ data.code }}" role="button">Confirm Email &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="{{ buttons.link2 }}" role="button">I Did Not Sign-Up &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
</div>

<!-- Site footer -->
<div class="footer">
    <p>&copy; Company 2014</p>
</div>