
<!-- Jumbotron -->
<div class="jumbotron">
<link href="style.css" rel="stylesheet"></link>

    <h1>You've been invited to Happy Meter!</h1>
    <p class="lead">Welcome to Happy Meter, the best way to understand the sentiments of you and your coworkers in real time</p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="col-lg-4">
      <h2>Try Happy Meter</h2>
      <p>Do you love to work for your current employer? Not so much? Have you ever wondered if those you work alongside truly feel the same way? With Happy Meter, you can observe the real-time sentiments of your coworkers: how confident they feel about your company and their place within your company. You will also anonymously broadcast your own real-time sentiments.</p>
      <p><a class="btn btn-default" href="{{ path }}{{ code }}" role="button">Try it Now! &raquo;</a></p>
    </div>
</div>

<!-- Site footer -->
<div class="footer">
    <p>&copy; Happy Meter 2014</p>
</div>