<ion-header-bar class="bar-header bar-balanced">
  <button class="button button-clear icon ion-gear-a" ng-show="showSettings" ng-click="toggleSettings()"></button>
  <h1 class="title">Happy Meter</h1>
  <button class="button button-clear icon ion-android-add-contact" ng-click="invite()"></button>
</ion-header-bar>

<ion-header-bar class="bar-stable bar-subheader" ng-hide="verified">
  <div class="button-bar">
    <a class="button {{ email }}" ui-sref="home.email">email</a>
    <a class="button {{ verify }}">verify</a>
    <a class="button">opinions</a>
  </div>
</ion-header-bar>

<ion-pane>
  <ion-nav-view> </ion-nav-view>
</ion-pane>