<!-- <ion-content>
<ion-header-bar class="bar-stable bar-subheader">
    <div class="row wizard-steps">
      <div class="{{ personal }} col col-offset-10"><a><span>1</span>your sentiment</a></div>
      <div class="{{ coworkers }} col"><a><span>2</span>cowork</a></div>
      <div class="col-offset-10"></div>
    </div>
</ion-header-bar>
</ion-content>
 -->
<ion-content class="main-content has-header" ng-class="{'has-footer': completed}">
  

  <div class="graph">
    <h3>{{ titleDescription }}</h3>
    <p>{{ pageDescription }}</p>

    <happy-graph selected-point="click.clickData" submitted="clickSubmitted" coordinates="coordinates" margin="margin"></happy-graph>
    <circle-key user="true"></circle-key> Your sentiment
    <br>
    <circle-key user="false"></circle-key> Your co-workers' most recent sentiment
    <br>
    <small class="error" ng-show="noData">No data for your domain yet! Invite your coworkers by sliding to the left</small>
    <small class="error" ng-show="littleData">There isn't very much data for your domain yet! Invite your coworkers by clicking below</small>
  </div>
    <button class="graph-button button button-small button-dark col" ng-click="submit()" ng-show="click.clickData && !clickSubmitted">Submit</button>
    <!-- <button class="graph-button button button-small button-dark col" ng-click="seeData()" ng-show="recentScore">See most recent coworkers data</button> -->
    <button class="button button-balanced col" ng-click="invite()">Invite coworkers!</button>


</ion-content>

<ion-footer-bar class="bar bar-footer footer-color" ng-show="completed" ng-click="refresh()">
  <h2 class="title footer-color">Refresh page and get the latest data!</h2>
</ion-footer-bar>
